[tool.poetry]
name = "hexital"
version = "0.4.0"
description = "Hex Incremental Technical Analysis Library"
readme = "README.md"
license = "MIT"
authors = ["Merlin Roe <merlin.roe@hotmail.co.uk>"]
homepage = "https://github.com/MerlinR/Hexital"
repository = "https://github.com/MerlinR/Hexital"
documentation = "https://github.com/MerlinR/Hexital"
keywords = ["trading", "quant", "indicators"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Intended Audience :: Financial and Insurance Industry",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Topic :: Software Development :: Build Tools",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Typing :: Typed",
]
include = ["CHANGELOG.md"]

[tool.poetry.dependencies]
python = "^3.10"

[tool.poetry.group.dev.dependencies]
coverage = "*"
pytest = "*"
pytest-cov = "*"
deepdiff = "*"

[tool.poetry.group.truth]
optional = true

[tool.poetry.group.truth.dependencies]
pandas = "*"
numpy = "*"
ta-lib = "*"
pandas-ta = { git = "https://github.com/twopirllc/pandas-ta.git" }

[tool.poetry.group.speed_tests]
optional = true

[tool.poetry.group.speed_tests.dependencies]
matplotlib = "*"
pandas = "*"
numpy = "*"
ta-lib = "*"
pandas-ta = { git = "https://github.com/twopirllc/pandas-ta.git" }

[build-system]
requires = ["setuptools", "poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
